@font-face {
     font-family: 'DINBlack';
     src: url('../font/DINPro-Black.otf') format('truetype');
}
 @font-face {
     font-family: 'DINm';
     src: url('../font/DINPro-Medium.otf') format('truetype');
}
 @font-face {
     font-family: 'DINl';
     src: url('../font/DINPro-Light.otf') format('truetype');
}
 body{
     font-family: DINl, arial;
}
 a{
     color: #333;
     text-decoration: none;
}
/*Modul style*/
 .modul {
     border: 1px solid #9ca5aa;
     border-radius: 10px;
     -webkit-box-shadow: 4px 4px 10px -5px rgba(0,0,0,0.75);
     -moz-box-shadow: 4px 4px 10px -5px rgba(0,0,0,0.75);
     box-shadow: 4px 4px 10px -5px rgba(0,0,0,0.75);
     margin: 5px;
}
 .modul-back{
    /*visibility: hidden;
    */
}
 #title {
     color: #333;
     text-align: center;
     margin: 10px 0;
}
 #BottomButton, #MP, #WM, #WMP {
     padding: 5px 0;
     font-family: DINl, arial, sans-serif;
     color:#fff;
     text-align: center;
     border-bottom-left-radius: 9px;
     border-bottom-right-radius: 9px;
}
 #BottomButton {
     background: #4a5c66;
}
 #MP {
     background: #ae0033;
}
 #WM {
     background: #2fb8e4;
}
 #WMP{
     background-image:linear-gradient(90deg, #ae0033 20%, #2fb8e4 80%);
}
/*Modul style end*/
/*Verlaufsplan style*/
 #Verlaufsplan {
     overflow-y: scroll;
}
 #Verlaufsplan table {
     border-collapse: collapse;
}
 #Verlaufsplan table th{
     font-family: DINBlack, sans-serif, arial;
     font-size: 50px;
     color: #f4f4f4;
}
 #Verlaufsplan table tbody tr td {
     border: 1px solid #e8e9eb;
     width: 
}
 #Verlaufsplan table tbody td:nth-child(even), th:nth-child(even) {
     background: #f4f4f4;
}
 #Verlaufsplan th:nth-child(even) {
     color: #fff;
}
 #Verlaufsplan table tbody : {
     background: #f4f4f4;
}
 .text-rotate{
     padding: auto 0;
     -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
     -ms-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
}
 .Entscheidung {
     font-size: 80%;
     white-space: nowrap;
     writing-mode: vertical-rl;
     -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg);
     margin: 20px ;
}
/*Verlaufsplan style end*/
/*Popup Fenster style*/
 .overlay {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgba(0, 0, 0, 0.7);
     transition: opacity 300ms;
     visibility: hidden;
     opacity: 0;
}
 .overlay:target {
     visibility: visible;
     opacity: 1;
}
 .popup {
     margin: 70px auto;
     padding: 60px;
     background: #fff;
     border-radius: 5px;
     width: 70vw;
     height: 70vh;
     position: absolute;
     top:0;
     left:0;
    /*transition: all 5s ease-in-out;
    */
    /*visibility: hidden;
    */
}
 #titel {
     text-align: center;
     right: 50%;
     color: #333;
     font-size: 30px;
     font-family: DINm, Arial, sans-serif;
}
 .popup .close {
     position: absolute;
     bottom: 0;
     left: 50%;
     transition: all 100ms;
     font-size: 60px;
     font-weight: bold;
     text-decoration: none;
     color: #ae0033;
}
 .popup .popupcontent {
     max-height: 65vh;
     overflow: auto;
}
 @media screen and (max-width: 700px){
     .box{
         width: 70%;
    }
     .popup{
         width: 70%;
    }
}
 .popupcontent table {
     border-collapse: collapse;
     text-align: center;
}
 .popupcontent table td{
     font-family: DINl, sans-serif, arial;
     padding: 10px;
}
 .popupcontent td {
     border: 1px solid #e8e9eb;
}
 .popupcontent tr:nth-child(odd) {
     background: #4a5c66;
     color: #ffffff;
}
 .popupcontent table tbody : {
     background: #f4f4f4;
}
/*Popup Fenster style end*/
 #Verlaufsplan {
}
 