/* fill / bg */

.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.35);
    z-index: 100;
    width: 100%;
    height: 100%;
}

/* modal box */
.modal-content {
    background-color: #F3F3F3;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 100;
}

/* btn:; */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


