body{ font-family: DINl, arial; overflow-y: hidden;}

header{	height: 20vh; width: 99vw; display: flex; }

p{	margin: 0;	padding: 0; }

a{  color: #333;  text-decoration: none;  }


/*Fläche aufteilung*/

header{ width: 99vw; height: 15vh; display: flex; }

.filter{ width: 99.1vw; height: 5vh; font-size: 0.8vw; }

#Verlaufsplan{ font-size: 0.7vw; width: 99vw; height: 80vh; overflow-x: scroll; overflow-y: hidden;  }

/*Fläche aufteilung ENDE*/


/*Schriften einbinden*/

@font-face { font-family: 'DINBlack'; src: url('../font/DINPro-Black.otf') format('truetype'); }

@font-face { font-family: 'DINm'; src: url('../font/DINPro-Medium.otf') format('truetype'); }

@font-face { font-family: 'DINl'; src: url('../font/DINPro-Light.otf') format('truetype'); }

/*Schriften einbinden ENDE*/


/*Header*/

.titelheader { position: absolute; left: 11vw; top: 5vh; }

.titelheader h1, h2 {color: rgb(74,90,103); text-transform: uppercase; margin:0;}

.titelheader h1{ font-family: DINBlack, Arial, Sans-serif; font-size: 2vw; }

.titelheader h2{ font-family: DINl, Arial, Sans-serif; font-size: 1vw;  }

.logoimg img{ width: 40%; display: block; position: absolute; right: 2vw; top: 2vh; }

/*Header ENDE*/


/*Filter*/

.filter nav { position: relative; padding-left: 11vw; }

.filter nav ul { list-style: none; margin: 0; /*border: 1px solid; border-color: rgb(74,90,103);*/ padding: 0; }

.filter nav ul::after { content: ''; display: block; clear: both; } /*creates pseudo element*/

.filter nav ul li:hover { background-color: rgba(47,184,228,.5)} /*beim untermenue bleibt hover bestehen*/

.filter nav ul li:hover > ul { display: block;} /*none wird mit block ersetzt, wenn hover*/

.filter nav ul li a { display: inline-block; color: rgb(57,70,81); font-size: .8em; font-family: DINl, Aria, Sans-serif; letter-spacing: 0.1em; padding: 0.7vw; text-decoration: none; width: 125px; }

.filter nav ul li a:hover { background-color: rgb(47,184,228); color: #FFFF; }

.filter nav ul ul { display: none; position: absolute; top: 100%; background-color: rgba(47,184,228,.1); }

/*top level*/
/*.filter nav > ul { padding-left: 35px; }*/
.filter nav > ul { border: 1px solid; border-color: rgb(74,90,103); }

.filter nav > ul > li { float: left; }
/*.filter nav > ul > li > a { padding: 10px 20px 15px 20px; width: auto; } /*padding-bottom veraendern -> 10 auf 20; toplevel passt sich an*/

/*Filter ENDE*/


/*Verlaufsplan*/

.Verlaufsplan table{ width: 150vw; border-collapse: collapse; }

.Verpaufsplan table, tbody, tr, td { border: .01vw solid #e8e9eb;  border-collapse: collapse; }

.Verpaufsplan tr:nth-child(2) { border-bottom: 2px dashed; }

.Verpaufsplan td:nth-child(even) { background: #f4f4f4;  color: #ffffff; }



.text-rotate {
      font-size: 0.7vw;
	    color: #4a5c66;
      white-space: nowrap;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      padding: .8vw ;
    margin: auto;
    
}

.semEven { font-family: DINBlack, sans-serif, arial; font-size: 3vw;  background: #f4f4f4; color: #ffffff; }

.semOdd {font-family: DINBlack, sans-serif, arial; font-size: 3vw;  color: #f4f4f4; }


/*Modul style*/

.modul {  
  border: .05vw solid #9ca5aa;
  border-radius: 0.5vw;
  -webkit-box-shadow: 4px 4px 10px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 10px -5px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 10px -5px rgba(0,0,0,0.75);
  margin: 5px;
  background: #ffffff;
  z-index: 4;
  position:relative;
  visibility: hidden;
}

#title {  color: #333;  text-align: center;   margin: .51vw;   }

#BottomButton, #MP, #WM, #WMP {
  padding: 5px 0;
  font-family: DINl, arial, sans-serif;
  color:#fff;
  text-align: center;
  border-bottom-left-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
}

#BottomButton {   background: #4a5c66; }

#MP { background: #ae0033;  }

#WM { background: #2fb8e4;	}  

#WMP{ background-image:linear-gradient(90deg, #ae0033 20%, #2fb8e4 80%);  }

/*Modul style end*/

/*Verlaufsplan ENDE*/



/*Popup Fenster*/

.overlay {
  position: fixed;
  top: 0;  bottom: 0;  left: 0;  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  visibility: hidden;
  z-index:9;
  opacity: 0;
}

.overlay:target {  visibility: visible;  opacity: 1; }

.popup {
 /*margin: 70px auto;*/
  padding: 60px;
  width: 70vw;
  height: 70vh;
  position: absolute;
  top:0;
  left:0;
  /*transition: all 5s ease-in-out;*/
  visibility: hidden;
  border: .05vw solid #9ca5aa;
  border-radius: 0.5vw;
  -webkit-box-shadow: 4px 4px 10px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 10px -5px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 10px -5px rgba(0,0,0,0.75);
  background: #ffffff;
  z-index: 10;
}

#titel {
  text-align: center;
  right: 50%;
  color: #333;
  font-size: 2vw;
  font-family: DINm, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  bottom: 0;
  left: 50%;
  /*transition: all 10ms;*/
  font-size: 5vw;
  font-weight: bold;
  text-decoration: none;
  color: #ae0033;

}

.popup .popupcontent { max-height: 65vh; }

.popupcontent table { border-collapse: collapse;  text-align: center; width: 100%; font-size: .9vw; }

.popupcontent table td{   font-family: DINl, sans-serif, arial; padding: .2vw;}

.popupcontent td {  border: .05px solid #e8e9eb;  }

.popupcontent tr:nth-child(odd) { background: #4a5c66;  color: #ffffff; }

.popupcontent table tbody { background: #f4f4f4; }

/*Popup Fenster ENDE*/

.modul-back{
  visibility: hidden;
}

