#intropic{
  display: block;
  position: fixed;
  top:0%;
  left: 0%;
  z-index: 2;
  width: 50%;
  height:100%;
}

#grid_container{
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [c1]30% [c2]15% [c3]20% [c4]10% [c5]20% [c6]5%;
  grid-template-rows:  [r1]15% [r2]30% [r3]10% [r4]10% [r5]17.5% [r6]17.5%;
}

.textcontainer{
  display: block;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
}

#text_studiere{
  display: block;
  grid-column: 3;
  grid-row-start: 1;
  text-align: left;
  margin-left: 25%;
  font-size: 2vh;

}
#thm{
  color: #80ba24;
  font-weight: bold;
  font-size:2vh;
  padding-top: 0rem;
}

#fb{
  font-size:2vh;
}

#text_medieninformatik{
  grid-column: 5;
  grid-column-end: span 2;
  grid-row-start: 1;
  text-align: left;
  margin-left: 40%;
  font-size: 2vh;
}

#studienziel{
  grid-column: 3;
  grid-column-end: span 4;
  grid-row-start: 2;
  text-align: left;
  font-size: 2.5vh;
}
.list{
  font-size: 1.75vh;
  text-align: left;
  padding: 0.75vh;
}
#studienziel_li_1{}
#studienziel_li_2{
  margin-left: 2%;
}
#studienziel_li_3{
  margin-left: 4%;
}
#studienziel_li_4{
  margin-left: 6%;
}

.button{
  object-fit: scale-down;
  overflow: hidden;
  font-size: 2vh;
}
#button_MA{
  grid-column: 1;
  grid-column-end: span 3;
  grid-row: 3;
  margin-left: 30%;
}
#button_MP{
  grid-column: 4;
  grid-column-end: span 3;
  grid-row: 3;
}

#meta_info{
  grid-column: 1;
  grid-column-end: span 6;
  grid-row: 5;
  background-color: #4a5c66;
  color: white;
  padding-top: 2.5%;
  margin-left: 32.5%;
  opacity: 0.8;
  font-size: 2vh;
  object-fit: scale-down;
}
small{
  margin-left: 5vh;
}

#logo_container{
  display: block;
  grid-column: 6;
  grid-row: 6;
  place-self: center;
}
#logo {
  display: grid;
  grid-template-columns: 2vh 2vh 2vh;
  grid-auto-rows: minmax(2vh, auto);
  grid-gap: 0.5vh;
  margin-right: 0.5vh;
}
#logo1 {
  grid-column: 1;
  grid-row: 3;
  background-color: #4a5c66;
}
#logo2 {
  grid-column: 1;
  grid-row: 4;
  background-color: #80ba24;
}
#logo3 {
  grid-column: 1;
  grid-row: 5;
  background-color: #4a5c66;
}
#logo4 {
  grid-column: 2;
  grid-row: 2;
  background-color: #4a5c66;
}
#logo5 {
  grid-column: 2;
  grid-row: 3;
  background-color: #4a5c66;
}
#logo6 {
  grid-column: 2;
  grid-row: 4;
  background-color: #4a5c66;
}
#logo7 {
  grid-column: 2;
  grid-row: 5;
  background-color: #80ba24;
}
#logo8 {
  grid-column: 3;
  grid-row: 1;
  background-color: #4a5c66;
}
#logo9 {
  grid-column: 3;
  grid-row: 2;
  background-color: #4a5c66;
}
#logo10 {
  grid-column: 3;
  grid-row: 3;
  background-color: #4a5c66;
}
#logo11 {
  grid-column: 3;
  grid-row: 4;
  background-color: #4a5c66;
}
#logo12 {
  grid-column: 3;
  grid-row: 5;
  background-color: #80ba24;
}
